<div class="conteiner">
    <div class="col-sm">
        <h1>Welcome To Mem Maker</h1>
        <p id="notice"><%= notice %></p>
    </div>
<div class='conteiner'>
    <div class="row ">
    <div class="col-sm-1" > </div> 
        
        <div class="col-sm-3 " >
            <%= link_to t(:add_photos), photos_path, class: "btn-lg btn-page"%>
        </div>
        
        <div class="col-sm-3">
            <%= link_to t(:my_memes), mems_path, class: "btn-lg btn-page"%>
        </div>
        
        <div class="col-sm-3">
            <%= link_to t(:posts), posts_index_path, method: :get , class: "btn-lg btn-page"%>
        </div>
    </div>
</div>