<p id="notice"><%= notice %></p>

<h1><%= t(:photos) %></h1>



<% @photos.each do |photo| %>
    <%= link_to image_tag(photo.thumb), photo %>
<% end %>

<br>

<%= link_to t(:new_photo), new_photo_path, class: "btn-lg btn-page" %>
